@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.productContainer {
  background-color: #FBF3E4;
  margin: 0 auto;
  padding: 4rem 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

.productContainer h2 {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem auto;
  max-width: 1200px;
  padding: 0 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  width: 300px;
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: #34131d;
  border: 5px inset #953e58;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #34131d;
  padding: 15px;
  cursor: pointer;
  font-size: large;
  transition: 0.5s;
  opacity: 0.8;
}

.product:hover {
  border: 5px inset #953e58;
  opacity: 1;
}

.product>* {
  margin-bottom: 1rem;

}

.product img {
  margin-top: 1rem;
  box-shadow: 5px 10px 18px #4b2013;
  opacity: 0.9;
  border-radius: 5px;
}